<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
</head>
<body>
    <h1>Contact</h1>
    <p>Contenido de la página de contacto.</p>
    
    <form method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="message">Mensaje:</label><br>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>